{{#if shouldShow}}
  <div class="discourse-signup-banner">
    <div class="discourse-signup-banner-content">
      <h1 class="discourse-signup-banner-content-header">
        {{theme-setting "heading_text"}}
      </h1>
      <p class="discourse-signup-banner-content-text">
        {{theme-setting "subheading_text"}}
      </p>
    </div>
    <div class="discourse-signup-banner-cta">
      <div class="discourse-signup-banner-cta-signup">
        {{d-button action=(route-action "showCreateAccount") class="btn-primary sign-up-button" translatedLabel=(theme-setting "signup_text")}}
      </div>
      <div class="discourse-signup-banner-cta-actions">
        {{d-button action="showBannerLater" translatedLabel=(theme-setting "reminder_text")}}
        {{d-button action="dismissBanner" translatedLabel=(theme-setting "dismiss_text")}}
      </div>
    </div>
  </div>
{{/if}}
{{d-button action="triggerCta" translatedLabel=(theme-setting "reminder_text")}}